@model FaqWiki.Sitefinity.Frontend.Mvc.Models.Response.ResponseViewModel

@using Telerik.Sitefinity.Frontend.Mvc.Helpers;
@using Telerik.Sitefinity.Frontend.DynamicContent.WidgetTemplates.Fields.Helpers;
@using Telerik.Sitefinity;
@using Telerik.Sitefinity.Data.ContentLinks;
@using Telerik.Sitefinity.Frontend.Mvc.Helpers;
@using Telerik.Sitefinity.Frontend.Mvc.Models;
@using Telerik.Sitefinity.Web.DataResolving;
@using Telerik.Sitefinity.Model.ContentLinks;
@using Telerik.Sitefinity.Modules.Pages;

@{ 
    var editUrl = String.Format("{0}/edit/{1}", ViewBag.ListPageUrl, Model.Response.Url);
}

<a href="@ViewBag.ListPageUrl" class="btn">Back to list</a>
<article class="response_itm">
    <header>
        <a href="@editUrl" class="btn">Update</a>
        <h1>@Model.Response.Title</h1>
        <p><strong>Typical requirement:</strong> @Model.Response.Requirement</p>
    </header>
    <div class="response_itm-content">
       @Html.Raw(Model.Response.Response)
    </div>
    <dl>
        <dt>Current status:</dt>
        <dd>@Model.Response.CurrentStatus</dd>
        <dt>Keywords:</dt>
        <dd>@Model.Response.Keywords</dd>
        <dt>Last modified:</dt>
        <dd>@Model.Response.LastModified by @Model.Response.LastModifiedBy</dd>
    </dl>
</article>