@model FaqWiki.Sitefinity.Frontend.Mvc.Models.Response.ResponseViewModel

@using Telerik.Sitefinity.Frontend.Mvc.Helpers;
@using Telerik.Sitefinity.Frontend.DynamicContent.WidgetTemplates.Fields.Helpers;
@using Telerik.Sitefinity;
@using Telerik.Sitefinity.Data.ContentLinks;
@using Telerik.Sitefinity.Frontend.Mvc.Helpers;
@using Telerik.Sitefinity.Frontend.Mvc.Models;
@using Telerik.Sitefinity.Web.DataResolving;
@using Telerik.Sitefinity.Model.ContentLinks;
@using Telerik.Sitefinity.Modules.Pages;
@using Telerik.Sitefinity.UI.MVC;
@using Telerik.Sitefinity.Frontend.Forms.Mvc.Helpers;
@using Telerik.Sitefinity.Frontend.Forms.Mvc.Models;
@using Telerik.Sitefinity.Frontend.Mvc.Helpers;
@using Telerik.Sitefinity.Modules.Pages;

@{
    var detailUrl = String.Format("{0}/{1}", ViewBag.ListPageUrl, Model.Response.Url);
}
<h1>@Model.Response.Title</h1>
@using (Html.BeginFormSitefinity())
            {
    <div class="form-group">
        @Html.LabelFor(model => model.Response.Title)
        @Html.EditorFor(model => model.Response.Title, new { htmlAttributes = new { @class = "form-control" } })
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Response.Requirement)
        @Html.EditorFor(model => model.Response.Requirement, new { htmlAttributes = new { @class = "form-control" } })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Response.Response)
        @Html.TextAreaFor(model => model.Response.Response, new { @class = "form-control", @rows = 3 })
    </div>
    <input type="submit" value="Send for approval" class="btn btn-primary" />
    <a href="@detailUrl" class="btn">Cancel</a>
}
@*@ViewBag.ListPageUrl
    <h1>@Model.Title</h1>
    <p><strong>Typical requirement:</strong> @Model.Requirement</p>
    <div class="response_itm-content">
        @Html.Raw(Model.Response)
    </div>
    <dl>
        <dt>Current status:</dt>
        <dd>@Model.CurrentStatus</dd>
        <dt>Keywords:</dt>
        <dd>@Model.Keywords</dd>
        <dt>Last modified:</dt>
        <dd>@Model.LastModified by @Model.LastModifiedBy</dd>
    </dl>*@
